<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<targets>
		<!-- Logs Git (Info) avec date -->
		<target name="Git"
				xsi:type="File"
				fileName="${specialfolder:Temp}/git/info-log-${shortdate}.txt"
				layout="[${longdate}] ${level:uppercase=true}: ${message}"
				archiveFileName="${specialfolder:Temp}/git/info-log-{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveDays="30"
				keepFileOpen="false"
				encoding="utf-8" />

		<!-- Logs App (Info) avec date -->
		<target name="App"
				xsi:type="File"
				fileName="${specialfolder:Temp}/app/info-log-${shortdate}.log"
				layout="[${longdate}] ${level:uppercase=true}: ${message}"
				archiveFileName="${specialfolder:Temp}/app/info-log-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveDays="30"
				keepFileOpen="false"
				encoding="utf-8" />

		<!-- Logs Git (Debug) avec date -->
		<target name="Git2"
				xsi:type="File"
				fileName="${specialfolder:Temp}/git/debug/log-${shortdate}.txt"
				layout="[${longdate}] ${level:uppercase=true}: ${message}"
				archiveFileName="${specialfolder:Temp}/git/debug/log-{#}.txt"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveDays="30"
				keepFileOpen="false"
				encoding="utf-8" />

		<!-- Logs App (Debug) avec date -->
		<target name="App2"
				xsi:type="File"
				fileName="${specialfolder:Temp}/debug-app-${shortdate}.log"
				layout="[${longdate}] ${level:uppercase=true}: ${message}"
				archiveFileName="${specialfolder:Temp}/debug-app-{#}.log"
				archiveEvery="Day"
				archiveNumbering="Date"
				maxArchiveDays="30"
				keepFileOpen="false"
				encoding="utf-8" />
	</targets>

	<rules>
		<logger name="Git" minlevel="Info" writeTo="Git" />
		<logger name="*" minlevel="Info" writeTo="App" />
		<logger name="Git" minlevel="Debug" writeTo="Git2" />
		<logger name="*" minlevel="Debug" writeTo="App2" />
	</rules>

</nlog>
